# Title
## Title2
### title 3

Hello World

This is **Bold** *italic*

List
* item 1
* item 2

In [10]:
x = 17

In [11]:
print(x)

17

In [12]:
x

17

In [13]:
x
x
x

17

In [1]:
import pandas as pd
df = pd.read_csv('data/liverpool.csv')

In [2]:
df

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil